<header class="bg-gradient-to-r bg-gray-800 to-blue-900 fixed w-full z-50 p-4 shadow-2xl border border-gray-700 transition-colors duration-300">
  <nav class="flex justify-between items-center max-w-screen-xl mx-auto">
    <a routerLink="/dashboard" class="text-xl font-bold text-gray-100 no-underline">EnvíosFácil</a>
    <ul class="flex space-x-5">
      <li><a routerLink="/dashboard" class="text-gray-100 text-sm font-medium px-3 py-2 rounded hover:bg-yellow-500 hover:text-gray-800">Inicio</a></li>
      <li><a routerLink="/pagalo" class="text-gray-100 text-sm font-medium px-3 py-2 rounded hover:bg-yellow-500 hover:text-gray-800"><i class="fas fa-dollar-sign"></i> Págalo</a></li>
      <li><a routerLink="/rastrear" class="text-gray-100 text-sm font-medium px-3 py-2 rounded hover:bg-yellow-500 hover:text-gray-800"><i class="fas fa-search-dollar"></i> Rastrear</a></li>
      <li><a routerLink="/agencias" class="text-gray-100 text-sm font-medium px-3 py-2 rounded hover:bg-yellow-500 hover:text-gray-800">Agencias</a></li>
      <li><a routerLink="/servicios" class="text-gray-100 text-sm font-medium px-3 py-2 rounded hover:bg-yellow-500 hover:text-gray-800">servicios</a></li>

    </ul>
    <div class="flex items-center space-x-3">
      <a routerLink="/user-profile" class="flex items-center">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6rKwDbEN_M9FCcve-ozbDkUUn6VkEZ7xfVw&s" alt="User" class="w-12 h-12 rounded-full border-2 border-yellow-500 transition-transform transform hover:scale-110">
      </a>
    </div>
  </nav>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-dyB6yyQvs8lp6n/jk65Nyb40eAYsttMOPJXIC1KNx8sOE6FgWk7wTE1aMY3uP9St" crossorigin="anonymous"/>
</header>
