.page-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f4f9;
  padding: 20px;
}


.pagalo-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-group {
  margin-bottom: 15px;
}
h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.payment-methods {
  margin: 20px 0;
}

.payment-icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.payment-icon {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.payment-icon.selected {
  border-color: #0074D9;
}

.payment-icon img {
  width: 50px;
  height: auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group input:focus {
  border-color: #0074D9;
}

.is-invalid input {
  border-color: #e74c3c;
}

.invalid-feedback {
  color: #e74c3c;
  font-size: 0.875rem;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #0074D9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:disabled {
  background-color: #ddd;
}

.selected-method {
  text-align: center;
  margin-top: 10px;
  color: #555;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .payment-icons {
    justify-content: center;
    gap: 10px;
  }

  .payment-icon {
    padding: 5px;
  }

  .pagalo-container {
    padding: 15px;
  }

  h1 {
    font-size: 1.75rem;
  }

  .submit-btn {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .payment-icons {
    flex-direction: column;
    align-items: center;
  }

  .payment-icon {
    width: 100px;
    margin-bottom: 10px;
  }

  .pagalo-container {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .submit-btn {
    padding: 10px;
    font-size: 0.875rem;
  }
}
.image-center {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  margin: 20px 0; /* Margen superior e inferior */
}

.image-center img {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la relación de aspecto */
}
