<app-header></app-header>

<div class="page-container flex flex-col pt-20">
  <div class="agencias-container p-5 w-full max-w-5xl mx-auto">
    <h1 class="title text-5xl text-blue-800 text-center mb-5 relative inline-block">
      Lista de Agencias
      <span class="absolute bottom-[-5px] left-1/2 transform -translate-x-1/2 w-4 h-1 bg-gradient-to-r from-blue-800 to-red-700 rounded-lg"></span>
    </h1>

    <!-- Sección de Búsqueda -->
    <div class="search-box bg-red-100 p-5 rounded-lg max-w-xs w-full mb-5">
      <label for="search-location" class="font-bold text-gray-800 mb-2 block">Ingresa el lugar</label>
      <input type="text" id="search-location" placeholder="Lugar" [(ngModel)]="searchQuery" 
             class="w-full p-2 mb-2 rounded border border-gray-300">
      <button (click)="searchLocation()" 
              class="bg-red-600 text-white py-2 rounded w-full hover:bg-red-700 transition-colors">Buscar</button>
    </div>

    <!-- Mapa -->
    <div id="map" class="map-container min-w-[300px] h-[450px] rounded-lg overflow-hidden shadow-lg"></div>

    <!-- Lista de Agencias -->
    <div class="agencia-grid grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-5" *ngIf="filteredAgencias.length > 0">
      <div class="agencia-card bg-white border border-gray-300 rounded-lg shadow-md p-5 transition-transform transform hover:scale-105 hover:shadow-xl"
           *ngFor="let agencia of filteredAgencias">
        <h2 class="text-2xl text-blue-800 mb-2">{{ agencia.name }}</h2>
        <p class="text-gray-600">{{ agencia.address }}</p>
      </div>
    </div>

    <!-- Mensaje si no se encuentran resultados -->
    <p *ngIf="filteredAgencias.length === 0 && searchQuery" class="no-results text-red-600 font-bold mt-5">No se encontraron agencias para "{{ searchQuery }}"</p>
  </div>
</div>
