<div class="flex flex-col items-center p-12">
    <div class="mx-auto bg-white rounded-lg shadow-lg p-12 w-full max-w-4xl">
        <div class="flex items-center justify-between mb-12">
            <!-- Paso 1 -->
            <div class="relative flex items-center">
                <div class="h-10 w-10 rounded-full flex items-center justify-center border-2 transition-all duration-300"
                    [ngClass]="{'bg-blue-600 border-blue-600 text-white': currentStep >= 1, 'bg-white border-gray-300 text-gray-700': currentStep < 1}">
                    1
                </div>
                <div class="absolute left-1/2 -translate-x-1/2 top-12 text-sm font-medium text-gray-700">Remitente</div>
            </div>
            <div class="h-1 flex-1 bg-gray-300 transition-all duration-300" [ngClass]="{'bg-blue-600': currentStep > 1}"></div>

            <!-- Paso 2 -->
            <div class="relative flex items-center">
                <div class="h-10 w-10 rounded-full flex items-center justify-center border-2 transition-all duration-300"
                    [ngClass]="{'bg-blue-600 border-blue-600 text-white': currentStep >= 2, 'bg-white border-gray-300 text-gray-700': currentStep < 2}">
                    2
                </div>
                <div class="absolute left-1/2 -translate-x-1/2 top-12 text-sm font-medium text-gray-700">Destinatario</div>
            </div>
            <div class="h-1 flex-1 bg-gray-300 transition-all duration-300" [ngClass]="{'bg-blue-600': currentStep > 2}"></div>

            <!-- Paso 3 -->
            <div class="relative flex items-center">
                <div class="h-10 w-10 rounded-full flex items-center justify-center border-2 transition-all duration-300"
                    [ngClass]="{'bg-blue-600 border-blue-600 text-white': currentStep >= 3, 'bg-white border-gray-300 text-gray-700': currentStep < 3}">
                    3
                </div>
                <div class="absolute left-1/2 -translate-x-1/2 top-12 text-sm font-medium text-gray-700">Paquete</div>
            </div>
            <div class="h-1 flex-1 bg-gray-300 transition-all duration-300" [ngClass]="{'bg-blue-600': currentStep > 3}"></div>

            <!-- Paso 4 -->
            <div class="relative flex items-center">
                <div class="h-10 w-10 rounded-full flex items-center justify-center border-2 transition-all duration-300"
                    [ngClass]="{'bg-blue-600 border-blue-600 text-white': currentStep >= 4, 'bg-white border-gray-300 text-gray-700': currentStep < 4}">
                    4
                </div>
                <div class="absolute left-1/2 -translate-x-1/2 top-12 text-sm font-medium text-gray-700">Confirmación</div>
            </div>
        </div>

        <form [formGroup]="encomiendaForm" (ngSubmit)="onSubmit()">
            <!-- Paso 1: Datos del Remitente -->
            <div *ngIf="currentStep === 1" class="bg-white rounded-lg p-6 mb-8 transition-transform duration-500 ease-in-out transform"
                [ngClass]="{'scale-100': currentStep === 1, 'scale-75 opacity-0': currentStep !== 1}">
                <h3 class="text-blue-700 mb-4 text-xl font-bold">Paso 1: Datos del Remitente</h3>
                <div class="mb-4">
                    <label for="remitenteNombre" class="block mb-2 font-medium text-gray-700">Nombre del Remitente</label>
                    <input type="text" id="remitenteNombre" formControlName="remitenteNombre" placeholder="Ingrese el nombre completo"
                        class="w-full p-3 border border-gray-300 rounded-md focus:border-blue-600 focus:ring-2 focus:ring-blue-600 transition-all duration-300 ease-in-out hover:shadow-lg">
                </div>
                <div class="mb-4">
                    <label for="remitenteTelefono" class="block mb-2 font-medium text-gray-700">Teléfono</label>
                    <input type="tel" id="remitenteTelefono" formControlName="remitenteTelefono" placeholder="Ej. +51 999 888 777"
                        class="w-full p-3 border border-gray-300 rounded-md focus:border-blue-600 focus:ring-2 focus:ring-blue-600 transition-all duration-300 ease-in-out hover:shadow-lg">
                </div>
                <div class="mb-4">
                    <label for="remitenteDireccion" class="block mb-2 font-medium text-gray-700">Dirección de Recogida</label>
                    <select id="remitenteDireccion" formControlName="remitenteDireccion"
                        class="w-full p-3 border border-gray-300 rounded-md focus:border-blue-600 focus:ring-2 focus:ring-blue-600 transition-all duration-300 ease-in-out hover:shadow-lg">
                        <option value="" disabled selected>Seleccione un Distrito</option>
                        <option *ngFor="let agencia of agencias" [value]="agencia.nombre">
                            {{ agencia.nombre }}
                        </option>
                    </select>
                </div>
                <div class="flex justify-between mt-6">
                    <button type="button" (click)="goToDashboard()" class="bg-gray-600 text-white py-2 px-4 rounded-md shadow-lg hover:bg-gray-700 transition-transform duration-300 ease-in-out transform hover:scale-105">
                        Regresar a Inicio
                    </button>
                    <button type="button" (click)="nextStep()" class="bg-blue-600 text-white py-2 px-4 rounded-md shadow-lg hover:bg-blue-700 transition-transform duration-300 ease-in-out transform hover:scale-105">
                        Siguiente
                    </button>
                </div>
            </div>

            <!-- Paso 2: Datos del Destinatario -->
            <div *ngIf="currentStep === 2" class="bg-white rounded-lg shadow-lg p-6 mb-8 transition-transform duration-500 ease-in-out transform"
                [ngClass]="{'scale-100': currentStep === 2, 'scale-75 opacity-0': currentStep !== 2}">
                <h3 class="text-blue-700 mb-4 text-xl font-bold">Paso 2: Datos del Destinatario</h3>
                <div class="mb-4">
                    <label for="destinatarioNombre" class="block mb-2 font-medium text-gray-700">Nombre del Destinatario</label>
                    <input type="text" id="destinatarioNombre" formControlName="destinatarioNombre" placeholder="Ingrese el nombre completo"
                        class="w-full p-3 border border-gray-300 rounded-md focus:border-blue-600 focus:ring-2 focus:ring-blue-600 transition-all duration-300 ease-in-out hover:shadow-lg">
                </div>
                <div class="mb-4">
                    <label for="destinatarioTelefono" class="block mb-2 font-medium text-gray-700">Teléfono</label>
                    <input type="tel" id="destinatarioTelefono" formControlName="destinatarioTelefono" placeholder="Ej. +51 999 888 777"
                        class="w-full p-3 border border-gray-300 rounded-md focus:border-blue-600 focus:ring-2 focus:ring-blue-600 transition-all duration-300 ease-in-out hover:shadow-lg">
                </div>
                <div class="mb-4">
                    <label for="destinatarioDireccion" class="block mb-2 font-medium text-gray-700">Dirección de Entrega</label>
                    <select id="destinatarioDireccion" formControlName="destinatarioDireccion"
                        class="w-full p-3 border border-gray-300 rounded-md focus:border-blue-600 focus:ring-2 focus:ring-blue-600 transition-all duration-300 ease-in-out hover:shadow-lg">
                        <option value="" disabled selected>Seleccione un Distrito</option>
                        <option *ngFor="let agencia of agencias" [value]="agencia.nombre">
                            {{ agencia.nombre }}
                        </option>
                    </select>
                </div>
                <div class="flex justify-between mt-6">
                    <button type="button" (click)="prevStep()" class="bg-gray-600 text-white py-2 px-4 rounded-md hover:bg-gray-700 transition-transform duration-300 ease-in-out transform hover:scale-105">
                        Anterior
                    </button>
                    <button type="button" (click)="nextStep()" class="bg-blue-600 text-white py-2 px-4 rounded-md shadow-lg hover:bg-blue-700 transition-transform duration-300 ease-in-out transform hover:scale-105">
                        Siguiente
                    </button>
                </div>
            </div>

            <!-- Paso 3: Datos del Paquete -->
            <div *ngIf="currentStep === 3" class="bg-white rounded-lg shadow-lg p-6 mb-8 transition-transform duration-500 ease-in-out transform"
                [ngClass]="{'scale-100': currentStep === 3, 'scale-75 opacity-0': currentStep !== 3}">
                <h3 class="text-blue-700 mb-4 text-xl font-bold">Paso 3: Datos del Paquete</h3>
                <div class="mb-4">
                    <label for="paqueteDescripcion" class="block mb-2 font-medium text-gray-700">Descripción del Paquete</label>
                    <textarea id="paqueteDescripcion" formControlName="paqueteDescripcion" rows="3" placeholder="Descripción del paquete"
                        class="w-full p-3 border border-gray-300 rounded-md focus:border-blue-600 focus:ring-2 focus:ring-blue-600 transition-all duration-300 ease-in-out hover:shadow-lg"></textarea>
                </div><div class="mb-4">
                    <label for="paquetePeso" class="block mb-2 font-medium text-gray-700">Peso (kg)</label>
                    <input type="number" id="paquetePeso" formControlName="paquetePeso" placeholder="Ingrese el peso del paquete" class="w-full p-3 border border-gray-300 rounded-md focus:border-blue-600 focus:ring-2 focus:ring-blue-600 transition-all duration-300 ease-in-out hover:shadow-lg">
                </div>
                <div class="mb-4">
                    <label for="paqueteValor" class="block mb-2 font-medium text-gray-700">Valor del Paquete (S/)</label>
                    <input type="number" id="paqueteValor" formControlName="paqueteValor" placeholder="Ingrese el valor del paquete" class="w-full p-3 border border-gray-300 rounded-md focus:border-blue-600 focus:ring-2 focus:ring-blue-600 transition-all duration-300 ease-in-out hover:shadow-lg">
                </div>
                <div class="mb-4">
                    <label class="block mb-2 font-medium text-gray-700">Servicio a Domicilio</label>
                    <div class="flex items-center space-x-4">
                        <label class="flex items-center">
                            <input type="radio" formControlName="servicioDomicilio" value="si" class="form-radio text-blue-600">
                            <span class="ml-2 text-gray-700">Sí</span>
                        </label>
                        <label class="flex items-center">
                            <input type="radio" formControlName="servicioDomicilio" value="no" class="form-radio text-blue-600">
                            <span class="ml-2 text-gray-700">No</span>
                        </label>
                    </div>
                    <div *ngIf="encomiendaForm.value.servicioDomicilio === 'si'" class="mt-4">
                        <label for="costoServicioDomicilio" class="block mb-2 font-medium text-gray-700">Costo del Servicio a Domicilio (S/)</label>
                        <input type="number" id="costoServicioDomicilio" formControlName="costoServicioDomicilio" placeholder="Ingrese el costo" class="w-full p-3 border border-gray-300 rounded-md focus:border-blue-600 focus:ring-2 focus:ring-blue-600 transition-all duration-300 ease-in-out hover:shadow-lg">
                    </div>
                </div>
                <div class="flex justify-between mt-6">
                    <button type="button" (click)="prevStep()" class="bg-gray-600 text-white py-2 px-4 rounded-md hover:bg-gray-700 transition-transform duration-300 ease-in-out transform hover:scale-105">Anterior</button>
                    <button type="button" (click)="nextStep()" class="bg-blue-600 text-white py-2 px-4 rounded-md shadow-lg hover:bg-blue-700 transition-transform duration-300 ease-in-out transform hover:scale-105">Siguiente</button>
                </div>
            </div>

           <!-- Paso 4: Confirmación -->
<div *ngIf="currentStep === 4" class="bg-white rounded-lg shadow-lg p-6 mb-8 transition-transform duration-500 ease-in-out transform" [ngClass]="{'scale-100': currentStep === 4, 'scale-75 opacity-0': currentStep !== 4}">
    <h3 class="text-blue-700 mb-4 text-xl font-bold">Paso 4: Confirmación</h3>
    <p class="text-gray-700 mb-4">Por favor, revisa todos los datos ingresados antes de finalizar.</p>
    
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white rounded-lg shadow-md mb-4">
            <thead>
                <tr class="bg-blue-100 text-gray-700 font-semibold">
                    <th class="py-3 px-6 text-left">Detalle</th>
                    <th class="py-3 px-6 text-left">Información</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b">
                    <td class="py-3 px-6 font-medium text-gray-700">Remitente</td>
                    <td class="py-3 px-6">{{encomiendaForm.value.remitenteNombre}} - {{encomiendaForm.value.remitenteTelefono}} - {{encomiendaForm.value.remitenteDireccion}}</td>
                </tr>
                <tr class="border-b">
                    <td class="py-3 px-6 font-medium text-gray-700">Destinatario</td>
                    <td class="py-3 px-6">{{encomiendaForm.value.destinatarioNombre}} - {{encomiendaForm.value.destinatarioTelefono}} - {{encomiendaForm.value.destinatarioDireccion}}</td>
                </tr>
                <tr class="border-b">
                    <td class="py-3 px-6 font-medium text-gray-700">Descripción del Paquete</td>
                    <td class="py-3 px-6">{{encomiendaForm.value.paqueteDescripcion}}</td>
                </tr>
                <tr class="border-b">
                    <td class="py-3 px-6 font-medium text-gray-700">Peso del Paquete</td>
                    <td class="py-3 px-6">{{encomiendaForm.value.paquetePeso}} kg</td>
                </tr>
                <tr class="border-b">
                    <td class="py-3 px-6 font-medium text-gray-700">Valor del Paquete</td>
                    <td class="py-3 px-6">S/ {{encomiendaForm.value.paqueteValor}}</td>
                </tr>
                <tr *ngIf="encomiendaForm.value.servicioDomicilio === 'si'" class="border-b">
                    <td class="py-3 px-6 font-medium text-gray-700">Servicio a Domicilio</td>
                    <td class="py-3 px-6">Sí - Costo: S/ {{encomiendaForm.value.costoServicioDomicilio}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="flex justify-end mt-4">
        <div class="text-lg font-bold text-blue-700">
            Total: S/ 
            <span *ngIf="encomiendaForm.value.servicioDomicilio === 'si'">
                {{ (encomiendaForm.value.paqueteValor + encomiendaForm.value.costoServicioDomicilio) | number : '1.2-2' }}
            </span>
            <span *ngIf="encomiendaForm.value.servicioDomicilio === 'no'">
                {{ encomiendaForm.value.paqueteValor | number : '1.2-2' }}
            </span>
        </div>
    </div>
    
    <div class="flex justify-between mt-6">
        <button type="button" (click)="prevStep()" class="bg-gray-600 text-white py-2 px-4 rounded-md hover:bg-gray-700 transition-transform duration-300 ease-in-out transform hover:scale-105">Anterior</button>
        
        <button (click)="onSubmit()" class="bg-green-600 text-white py-2 px-4 rounded-md shadow-lg hover:bg-green-700 transition-transform duration-300 ease-in-out transform hover:scale-105">Confirmar Envío</button>
      </div>
      
</div>


<!-- Boleta/Recibo -->
<div *ngIf="showReceipt" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center p-4">
    <div class="bg-white rounded-lg shadow-xl p-8 max-w-3xl w-full max-h-90vh overflow-y-auto">
        <div class="text-center mb-6">
            <h2 class="text-2xl font-bold text-green-600 mb-2">¡Envío Confirmado!</h2>
            <p class="text-gray-600">Tu paquete ha sido registrado exitosamente</p>
        </div>

        <div class="border-t border-b border-gray-200 py-4 mb-6">
            <div class="flex justify-between mb-2">
                <span class="font-bold text-gray-700">Código de Envío:</span>
                <span class="text-blue-600 font-mono font-bold">{{trackingCode}}</span>
            </div>
            <div class="flex justify-between">
                <span class="font-bold text-gray-700">Contraseña de Seguimiento:</span>
                <span class="text-blue-600 font-mono font-bold">{{password}}</span>
            </div>
        </div>

        <div class="mb-6">
            <h3 class="font-bold text-gray-800 mb-2">Detalles del Envío</h3>
            <div class="grid grid-cols-2 gap-4 text-sm">
                <div>
                    <p class="font-semibold text-gray-600">Fecha:</p>
                    <p class="text-gray-800">{{today | date:'dd/MM/yyyy'}}</p>
                </div>
                <div>
                    <p class="font-semibold text-gray-600">Hora:</p>
                    <p class="text-gray-800">{{today | date:'HH:mm:ss'}}</p>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-2 gap-8 mb-6">
            <div>
                <h4 class="font-bold text-gray-800 mb-2">Remitente</h4>
                <p class="text-sm text-gray-600">{{encomiendaForm.value.remitenteNombre}}</p>
                <p class="text-sm text-gray-600">{{encomiendaForm.value.remitenteTelefono}}</p>
                <p class="text-sm text-gray-600">{{encomiendaForm.value.remitenteDireccion}}</p>
            </div>
            <div>
                <h4 class="font-bold text-gray-800 mb-2">Destinatario</h4>
                <p class="text-sm text-gray-600">{{encomiendaForm.value.destinatarioNombre}}</p>
                <p class="text-sm text-gray-600">{{encomiendaForm.value.destinatarioTelefono}}</p>
                <p class="text-sm text-gray-600">{{encomiendaForm.value.destinatarioDireccion}}</p>
            </div>
        </div>

        <div class="mb-6">
            <h4 class="font-bold text-gray-800 mb-2">Detalles del Paquete</h4>
            <div class="text-sm text-gray-600">
                <p>Descripción: {{encomiendaForm.value.paqueteDescripcion}}</p>
                <p>Peso: {{encomiendaForm.value.paquetePeso}} kg</p>
                <p>Valor Declarado: S/ {{encomiendaForm.value.paqueteValor}}</p>
                <p>Servicio a Domicilio: {{encomiendaForm.value.servicioDomicilio === 'si' ? 'Sí' : 'No'}}</p>
                <p *ngIf="encomiendaForm.value.servicioDomicilio === 'si'">
                    Costo de Envío: S/ {{encomiendaForm.value.costoServicioDomicilio}}
                </p>
            </div>
        </div>

        <div class="flex justify-center space-x-4">
            <button (click)="imprimirBoleta(); showReceipt = false" class="bg-blue-600 text-white py-2 px-4 rounded-md shadow-lg hover:bg-blue-700 transition-transform duration-300 ease-in-out transform hover:scale-105">
              Imprimir Boleta
            </button>
            <button (click)="goToDashboard()" class="bg-gray-600 text-white py-2 px-4 rounded-md shadow-lg hover:bg-gray-700 transition-transform duration-300 ease-in-out transform hover:scale-105">
                Volver al Inicio
              </button>
        </div>

        <div class="text-center text-sm text-gray-500 mt-6">
            <p>Guarda estos datos para realizar el seguimiento de tu envío</p>
            <p class="mt-2">¡Gracias por confiar en nuestro servicio!</p>
        </div>
    </div>
</div>